data/cell-society.dtd

<!ELEMENT config (name,id,width,height,rows,cols,layout?,probs?,params?)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT val (#PCDATA)>
<!ELEMENT height (#PCDATA)>
<!ELEMENT width (#PCDATA)>
<!ELEMENT rows (#PCDATA)>
<!ELEMENT cols (#PCDATA)>
<!ELEMENT layout (row+)>
<!ELEMENT row (col+)>
<!ELEMENT col (#PCDATA)>
<!ELEMENT probs (val+)>
<!ELEMENT params (val*)>
